html {
    height: 100%;
    font-size: 16px;
}

body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

ul {
    list-style-type: none;
    padding-inline-start: 0px;
}

.container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: #f97316;
    color: white;

    padding: 30px;

    .logo {
        display: flex;
        align-items: center;
        font-size: 2.2rem;
        font-weight: 900;

        img {
            height: 60px;
            width: 60px;
            transform: translate(-8px, 0px);
            filter: invert(100%);
        }
    }

    .menu {
        margin: 40px 0px;
        gap: 50px;
        font-size: calc(1rem + 1vh);
        font-weight: 600;


        li {
            padding: 10px 0px;
            display: flex;
            align-items: center;

            img {
                height: 3vh;
                transform: translate(0px, -2px);
                filter: invert(100%);
            }

            span {
                margin-left: 15px;
            }
        }
    }
}

.header {
    background-color: rgb(255, 255, 255);
    grid-row: 1/2;
    padding: 20px 50px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    position: relative;

    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px 0px;
    }

    .search-area {
        flex: 1 1 60%;
        display: flex;
        align-items: center;

        img {
            height: 35px;
            width: 35px;
        }

        input {
            margin: 0px 15px;
            background-color: rgb(212, 212, 212);
            width: 70%;
            height: 2em;
            font-size: 1em;
            border: none;
            border-radius: 1em;
            padding: 0px 15px;
        }
    }

    .profile-area {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        >* {
            padding: 0px 15px;
        }

        img {
            height: 40px;
        }

        .avatar {
            height: 60px;
        }
    }

    .welcome-area {
        flex: 0 0 60%;
        display: flex;
        align-items: center;
        width: 100%;

        >* {
            padding: 0px 15px;
        }

        img {
            height: calc(3vw + 30px);
        }

        .welcome-msg {
            display: flex;
            flex-direction: column;
            width: 100%;

            .welcome-text {
                font-size: 1.3rem;
                font-weight: 600;
            }

            .profile-name {
                font-size: calc(1vw + 18px);
                font-weight: 600;
            }
        }


    }

    .button-area {
        flex: 1 1 40%;
        display: flex;
        justify-content: space-around;

        button {
            all: unset;
            font-size: calc(0.5vw + 15px);
            background-color: #f97316;
            color: white;
            height: 50px;
            width: 7vw;
            border-radius: 25px;
            text-align: center;
            font-weight: 600;
        }
    }
}

.main {
    height: 100%;

    background-color: #ffedd5;
    grid-row: 2/3;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(auto-fit);
    gap: 40px;
    padding: 0px 20px;

    h2 {
        margin: 30px 0px 10px 0px;
        font-size: 1.6rem;
    }

    .projects {
        grid-row: 1/3;

        .card-container {
            display: grid;
            grid-template-columns: 2fr 2fr;
            grid-template-rows: repeat(auto-fit);
            gap: 20px;
            grid-auto-flow: dense;



            .card {
                height: 16vh;
                background-color: white;
                padding: 30px;
                border-radius: 10px;
                border-left: 10px solid #169cf9;
                position: relative;
                box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);

                h4 {
                    font-size: 1.3rem;
                    margin: 0px;
                }

                p {
                    margin: 5px 0px 0px;
                    font-size: 1.1rem;
                    color: rgba(0, 0, 0, 0.6);
                    max-height: calc(100% - 50px);
                    overflow: hidden;
                }

                .card-icons {
                    width: 140px;
                    display: flex;
                    justify-content: space-between;
                    position: absolute;
                    right: 20px;
                    bottom: 10px;
                    opacity: 50%;

                    img {
                        height: 30px;
                    }
                }
            }
        }
    }

    .announcements {
        grid-column: 2/3;


        .announcements-container {
            background-color: white;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
            h6 {
                font-size: 1.1rem;
                margin: 0px;
            }

            p {
                margin: 3px 0px;
                font-size: 1em;
                color: rgba(0, 0, 0, 0.6);
            }

            hr {
                opacity: 30%;
            }

        }
    }

    .trending {
        h2 {
            margin-top: 0px;
        }

        .trending-container {
            background-color: white;
            padding: 30px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            gap:14px;
            box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);

        }

        .trending-card {
            display: flex;
            align-items: center;

            img {
                height: 55px;
            }

            div {
                
                margin-left: 15px;

                h6 {
                    margin: 0px;
                    line-height: 1.5;
                    font-size: 1.2rem;
                }

                span {
                    font-size: 1rem;
                    color: rgba(0, 0, 0, 0.6);

                }
            }

        }
    }


}